@tailwind base;
@tailwind components;
@tailwind utilities;

/* .container{
  
  display: flex;
  flex-direction: column;
 
 }




 @media (min-width:768px) {
  .container{    
    
    display: flex;
    flex-direction: column;
    
}
} */
