@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
  margin: 0 auto;
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
 
 }




 @media (min-width:768px) {
  .container{    
    margin: 0 auto;
    padding: 10px 60px;
    display: flex;
    flex-direction: column;
    
}
}
